@page "/"
@using DynamicComponents.Components

<div class="mb-3">
    <label for="" class="form-label">Some Dynamic Components</label>
    <select class="form-control" name="" id="" @onchange="OnChange">
        <option value="@nameof(CheckBoxComponent)"><p class="lead">Check Box</p></option>
        <option value="@nameof(TextBoxComponent)"><p class="lead">Text Box</p></option>
        <option value="@nameof(RadioButtonComponent)"><p class="lead">Radio Button</p></option>
    </select>
</div>

<br>

<DynamicComponent Type="selectedType">
</DynamicComponent>

@code{
    Type selectedType = typeof(CheckBoxComponent);

    public void OnChange(ChangeEventArgs changeEventArgs)
    {
        selectedType = Type.GetType($"DynamicComponents.Components.{changeEventArgs.Value}");
    }
}